<header>
  <div class="row">
    <div class="col-3 d-flex justify-content-center align-items-center">
      <a [href]="logoLink">
        <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong class="text-white fs-5">Album</strong>
      </a>
    </div>
    <div class="col-6 text-white pt-2 fs-5 d-flex justify-content-center align-items-center">
      <app-search></app-search>
    </div>
    <div class="col navbar navbar-dark  shadow-sm d-flex justify-content-around">
      <button class="navbar-toggler collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>